.title {
  max-width: 420px;

  margin-bottom: 93px;

  font-family: "intro";
  font-size: 50px;
  line-height: 1.62;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #feffff;
}

.btnHero {
  /* display: block; */
  margin: 0;
  width: 211px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 24px;
  text-transform: capitalize;
}
