.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "roboto-regular";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #feffff;

  cursor: pointer;
}
