.containerLeft {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo {
  font-size: 34px;
  color: #ffffff;
  margin-right: 39px;
}

.logIn {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "roboto-regular";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #feffff;
}

.btnHeader {
  font-size: 20px;
}

.selectBtn {
  display: inline-block;
  padding: 12px 11px 12px 18px;
  font-family: "roboto-regular";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff;

  background: transparent;
  border: 1px solid #feffff;
  border-radius: 30px;

  cursor: pointer;
  outline: none;
}

.selectBtn:hover {
  color: #356f34;
  background-color: #fff;
}
