.greenWrapper {
  background-image: linear-gradient(
      to right,
      rgba(81, 155, 68, 0.75),
      rgba(81, 155, 68, 0.75)
    ),
    url(../../assets/img/road.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionHeader {
  padding-top: 40px;
}

.sectionHero {
  padding-top: 123px;
  padding-bottom: 131px;
}

.sectionAbout {
  padding-top: 57px;
  padding-bottom: 76px;
}

.sectionSearch {
  padding-top: 57px;
  padding-bottom: 119px;
  background-image: url(../../assets/img/cars.svg),
    linear-gradient(to right, rgba(229, 240, 227, 1), rgba(229, 240, 227, 1));
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
}

.sectionLogin {
  padding-top: 59px;
  padding-bottom: 36px;
  background-color: #e94841;
}
