.formGroup {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  margin: 0 auto;
}

.label {
  margin-bottom: 30px;
  text-align: center;
}

.field {
  min-width: 50%;
  padding: 5px 15px;
  border-radius: 4px;
}
.field:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.btn {
  display: block;
  margin: 0 auto;
  min-width: 150px;
  padding: 5px 15px;
}

.btn {
  display: block;
  width: 250px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;

  font-family: "roboto-regular";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #feffff;
  color: #131111;
  border: 1px solid #131111;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #131111;
  color: #feffff;
}
